.header{	
	border: 1px solid black;	
	overflow: auto;
	display: block;
}


.logo{
	display: inline-block;
	width: auto;
	border: 1px solid black;

}

.account{
	display: inline-block;;
	width: auto;
	float:right;
	border: 1px solid black;
}

.middle{
	overflow: auto;
	border:1px solid black;
}

.left_bar{	
	width: 20%;
	border:1px solid black;
	float:left;
	display: inline-block;
}

.main_content{	
	margin-left: 1%;
	margin-right: 1%;
	min-width: 57%;
	border: 1px solid black;
	display: inline-block;
}

.right_bar{
	width: 20%;	
	border: 1px solid black;
	float: right;
	display: inline-block;
}

.footer{
	height: auto;
	border: 1px solid black;
	bottom: 0px;	
}