* {margin:0;padding:0}

body {
	font-family:arial;
	font-size:16px;
	line-height:22px;
	color:#666;
	background:url(images/bg.jpg) repeat fixed #ddd}
.fix {
	overflow:hidden
}

.main {
	width:960px;
	margin:0px auto;
	display:block;
	background:#fff}


.user{
	width: 960px;
	float: right;
	color: white;
}

.logout{
	width: 960px;
	float: right;
	color: white;
	h4 color:white; 
}
.header { 
	width:960px;
	margin:0px auto;
	display:block;
	background:#fff;

}


.header img { 
	width:960px;
	height: 150px;

	}

.slider {
	height:281px;
	width:960px;
	background:url(images/banner.jpg) no-repeat;
	margin-bottom:25px
}

.mainmanu {
    color: rgba(255, 255, 255, 1);
    font-size: 1em;
    font-weight: bold;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 60px;
    padding-top: 10px;
    text-align: left;
    text-transform: uppercase;

}
.mainmanu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    
}
.mainmanu ul li {
    text-align: left;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
.mainmanu ul li a:link, .mainmanu ul li a:visited {
    background-color: #ff0200;
    
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin-bottom: 4px;
    margin-top: 4px;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-right: 60px;
    padding-top: 3px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    width: auto;
}
.mainmanu ul li a:hover {
    background-color: rgba(2, 107, 155, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.mainmanu1 {
	background:red;
 	overflow:hidden; 
 	text-transform: uppercase;
 	 font-weight: bold;
 	 color:white; 
 	}
.mainmanu1 ul{
	margin-top:0;
	padding:0;
	list-style:none;
}
.mainmanu1 ul li{
	float:left;
	border-right:1px solid #ddd
}
.mainmanu1 ul li a{
	display:block;color:#000;
	padding:7px 170px;
	text-decoration:none
}
.mainmanu1 ul li a:hover{
	background:#026B9B
}

.sidebar h1 { 
	background: red;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	margin-left:-20px;
	width: 2290px

}
.sidebar h1:hover{
	background:#494949
}

.sidebar {
	width:260px;
	height: 400px;
	margin-right:30px;
	background:#026B9B;
	float:left;
	padding:20px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 25px

}

.sidebar ul {
	margin:0;padding:0;
	list-style:none
}

.sidebar ul li{
	padding:5px;
	border-bottom:1px solid #ddd
}

.sidebar ul li a{
	text-decoration:none;
	color:#666
}

.sidebar ul li a:hover{
	color:#000
}

.content {
	width:600px;
	padding-right:30px
}

.content h2{
	margin-bottom:15px;
	font-weight:normal
}

.content p {
	margin-bottom:15px
}

.footer {
	padding:10px;
	background:red;
	color: white
}

.category_style{
	overflow: hidden;
	width:360px;
	height: 400px;
	margin-right:30px;
	background:#026B9B;
	padding:20px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 25px
}

.category_form{
	margin-left: 245px;
	margin-top: 22px;
	margin-bottom: 10px;

}