 {margin:0;padding:0}

body {
	font-family:arial;
	font-size:16px;
	line-height:22px;
	color:#666;
	background: 
}
.main {
	width:1200px;
	margin:0px auto;
	display:block;
	background:#fff
}
.header img { 
	width:1200px;
	height: 150px;
	margin-top: -30px; 
}



.clear {
	clear:both
}

#gallery {
	position:relative;
	height:400px
}
	#gallery a {
		float:left;
		position:absolute;
	}
	
	#gallery a img {
		border:none;
	}
	
	#gallery a.show {
		z-index:500
	}

	#gallery .caption {
		z-index:600; 
		background-color:#000; 
		color:#ffffff; 
		height:5px; 
		width:100%; 
		position:absolute;
		bottom:0;
	}

	#gallery .caption .content {
		margin:5px
	}
	
	#gallery .caption .content h3 {
		margin:0;
		padding:0;
		color:#1DCCEF;
	}


.manuber  {	background:rgb(74,85,91);
			overflow:hidden
		}

.manuber ul{margin:0;
			padding:0;
			list-style:none
		}


.manuber ul li{float:left;

		}
.manuber ul li a{	display:block;
					color:white;
					padding:8px 8px;
					text-decoration:none

				}

.mainmanu2 ul li a:hover{color: rgb(105,131,112);

}

.mainmanu1 ul li a{	display:block;
					color:white;
					padding-left: 100px;
	 				padding-right: 100px; 
	 				text-decoration:none;
	 			}


.footer { 
     
	margin-top: 10px;
	width: 100%;
	background:#228B22;
	color: white
	}

table {
    
    border-collapse: collapse;
    width: 100%;
}

td{
    
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: 1px solid #778899;
}
p{background:#333;color:#fff;margin-top:25px;padding:10px;}